{% extends 'Resp.html' %}
{% block title %}Liste des employés{% endblock %}
{% block content %}
<div class="container mt-5">
<table class="table table-hover">
  <thead>
     <tr class="table-dark">
        <th scope="col">id</th>
         <th scope="col">Nom</th>
         <th scope="col">CIN</th>
         <th scope="col">Role</th>
         <th scope="col">email</th>
         <th scope="col">Action 1</th>
         <th scope="col">Action 2</th>
     </tr>

  </thead>
   <tbody>
   {% for elmt in EmpKey %}
    <tr>
        <td> <a href="{% url 'detailEmp' elmt.id %}">{{ elmt.id }}</a> </td>
        <td>{{ elmt.nom }}</td>
        <td>{{ elmt.CIN }}</td>
        <td>{{ elmt.role }}</td>
        <td>{{ elmt.email }}</td>
        <td> <a href="{% url 'EmpUpD' elmt.id %}">Modifier</a> </td>
        <td> <a href="{% url 'SuppEmp' elmt.id %}">Supprimer</a> </td>
    </tr>
   {% endfor %}
   </tbody>

</table>
</div>
{% endblock %}